/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
} 

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f8f8f8;
}

#navegação {
	background-color: #191970;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;	
	position: fixed;
	width: 100%;
	top: 0;
}

#area{
	width: 720px;
	margin: 0 auto;

}

#area-principal {
	width: 720px;
	margin: 55px auto 10px auto;
	
}

#menu {
	float: right;
	padding: 10px;
}

#logo {
	float: left;
}

#postagem {
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

/*Formatação do menu*/
a {
	text-decoration: none;
	padding: 5px 10px;
}

/*Links nao visitados*/
a:link {
	color: #838383;
}

/*links visitados*/
a:visited {
	color: #ADD8E6;
}

/*links hover*/
a:hover {
	
	color: #fff;
	font-size: 16px;
	

}
/*links active*/
a:active {
	color: #535353;
}


/*Classes*/
.verde {
	color: #fff;
	text-shadow: 2px 5px black;
}


.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block; 
	padding-bottom: 10px;
	 margin-bottom: 10px;
}

.img-postagem {
	float: left;
	margin: 0px 10px 5px 0;
}

.postado {
	border-left: 5px solid #191970;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}

img {
width: 170px;
height: 120px;
}

h2 {
	color: #000;
}

